<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Ticket Platform</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Accedi alla piattaforma</h1>

    <form th:action="@{/login}" method="post" onsubmit="console.log('Form inviato')">
        <label for="username">Email:</label><br>
        <input type="text" id="email" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <p th:if="${param.error}" style="color:red;">Email o password non validi</p>
    <p th:if="${param.logout}" style="color:green;">Logout effettuato con successo</p>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
